/* POČETNA */

/* slider */
#hero-section {
  background: black; /* where the image should be just for visibility sake */
}

.slider-content {
  display: flex;
  flex-direction: column;
}

/* .slider-link div div a {
    text-transform: uppercase;
    text-decoration: none;
} */

/* DEVELOPMENTAL */
.slide--1 {
  display: none;
}

.slide
  .front-slider
  .slider-image
  .slider-content
  .slider-link
  div
  .field__item {
  border: none;
}

#slick-views-front-slider-block-1-1-slider {
  padding-top: 1px;
  margin-top: -1px;
  height: calc(100vh - 75px);
}

h2 span:before {
  content: url("../img/yellow-stripes-78.png");
  position: absolute;
  left: -29px;
  z-index: -1;
  bottom: -16px;
}

@media only screen and (max-width: 768px) {
  h2 span:before {
    content: url("../img/page-title-bcg.png");
    bottom: -15px;
    left: -25px;
  }
}

h2 {
  /* text-align: center; */
  margin: 32vh auto 20px;
  display: inline-block;
  min-width: 250px;
}

h2 span {
  z-index: 1;
  text-transform: uppercase;
  color: whitesmoke;
  margin: 120px;
  font-size: 64px;
  position: relative;
  font-family: "Brandon Grotesque Bold", sans-serif;
}
@media only screen and (max-width: 768px) {
  h2 span {
    margin: 0;
    font-size: 45px;
  }
}

/* this is whitesmoke narrow text between title and button */
.slider-desc div p {
  color: whitesmoke;
  width: 700px;
  margin: 25px auto;
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .slider-desc div p {
    width: 90vw;
    margin-bottom: 10px !important;
  }
}

/* SLIDER BUTTON */
.slide .front-slider .slider-image .slider-content .slider-link {
  text-align: center;
}

.slide .front-slider .slider-image .slider-content .slider-link div {
  background: transparent !important;
  border: 3px solid var(--yellow);
  text-align: center;
  padding: 10px 53px;
}

@media only screen and (max-width: 768px) {
  .slide .front-slider .slider-image .slider-content .slider-link div {
    padding: 10px 20px;
  }
}

/* MAIN CONTENT */
.path-frontpage .node__content div {
  margin-top: 80px;
  text-align: center;
}

.path-frontpage .field--name-body p {
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .path-frontpage .field--name-body p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .path-frontpage .field--name-body p {
    margin: 0 20px;
    font-size: 22px;
  }
}

/* PROGRAMI */
#after_content div div {
  text-align: center;
}

#after_content div div h2 {
  display: inline-block;
  position: relative;
}

#after_content div div h2:before {
  bottom: -15px;
  left: -22px;
}

@media only screen and (max-width: 768px) {
  .path-frontpage #after_content div div h2 {
    /* margin: 0; */
    font-size: 45px;
  }
}

.path-frontpage .view-programi .view-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: -40px 170px 100px;
  justify-content: center;
}

.path-frontpage .view-content .views-row {
  border: 3px solid var(--yellow);
  margin: 0 auto;
  color: black;
  width: 300px;
  height: 300px;
}

.path-frontpage .view-programi .view-content:nth-child(1),
.path-frontpage .view-programi .view-content:nth-child(2) {
  grid-column: 1/2;
}

.view-content .views-row:hover {
  border: 2px solid black;
  background: black;
}

.view-content .views-row:hover .program-link {
  color: whitesmoke;
}

.path-frontpage .program-thumb {
  margin: 10px;
  text-align: center;
}

.path-frontpage .program-title span {
  font-family: "Henry";
  font-size: 36px;
  text-transform: uppercase;
}

.path-frontpage .program-link {
  color: black;
  text-decoration: none;
}

.path-frontpage .program-description div {
  margin: 0;
  text-align: center;
  font-size: 29px;
  font-family: "Brandon Grotesque Medium", sans-serif;
}

.path-frontpage .program-description div:before,
.path-programi .program-description div:before {
  content: " ";
  display: block;
  border-bottom: 3px solid var(--yellow);
  width: 70px;
  margin: 20px auto;
}

.path-frontpage .slick__arrow {
  text-align: center;
  padding-bottom: 10px;
}

.slick-prev,
.slick-next {
  content: " " !important;
  background: var(--yellow);
  visibility: hidden;
}

.slick-prev:before,
.slick-next:before {
  content: " ";
  background: var(--yellow);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 10;
  visibility: visible;
  display: inline-block;
}

/* PROGRAM BOXES */

@media only screen and (min-width: 320px) and (max-width: 992px) {
  .path-frontpage .view-programi .view-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 25px;
    margin: -70px 170px 40px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .path-frontpage .view-programi .view-content {
    grid-gap: 25px;
    margin: -70px 12% 40px;
  }

  .path-frontpage .view-content .views-row {
    width: 250px;
    height: 250px;
  }

  .path-frontpage .program-title span {
    font-size: 29px;
  }

  .path-frontpage .program-description div {
    font-size: 25px;
    line-height: 27px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .path-frontpage .view-content .views-row {
    width: 200px;
    height: 200px;
  }

  .path-frontpage .program-title span {
    font-size: 24px;
  }

  .path-frontpage .program-description div {
    font-size: 19px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .path-frontpage .view-content .views-row {
    width: 250px;
    height: 250px;
  }

  .path-frontpage .program-title span {
    font-size: 29px;
  }

  .path-frontpage .program-description div {
    font-size: 25px;
    line-height: 27px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .path-frontpage .view-programi .view-content {
    grid-gap: 15px;
    margin: -70px 12% 40px;
  }

  .path-frontpage .view-content .views-row {
    width: 200px;
    height: 200px;
  }

  .path-frontpage .program-title span {
    font-size: 23px;
  }

  .path-frontpage .program-description div {
    font-size: 19px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .path-frontpage .view-programi .view-content {
    grid-gap: 15px;
    margin: -70px 12% 40px;
  }

  .path-frontpage .view-content .views-row {
    width: 140px;
    height: 150px;
  }

  .path-frontpage .program-title span {
    font-size: 14px;
  }

  .path-frontpage .program-description div {
    font-size: 14px;
    line-height: 14px;
  }

  .path-frontpage .program-description div:before,
  .path-programi .program-description div:before {
    margin: 10px auto;
  }
}

/* // PROGRAM BOXES ENDS */
