/* POČETNA */

/* slider */
#hero-section {
  background: black; /* where the image should be just for visibility sake */
}

/* .slider-link div div a {
    text-transform: uppercase;
    text-decoration: none;
} */

.slide
  .front-slider
  .slider-image
  .slider-content
  .slider-link
  div
  .field__item {
  border: none;
}

#slick-views-front-slider-block-1-1-slider {
  padding-top: 1px;
  margin-top: -1px;
}

h2 span:before {
  content: url("../img/page-title-bcg.png");
  position: absolute;
  left: -25px;
  z-index: -1;
  bottom: -17px;
}

h2 {
  text-align: center;
  margin: 180px auto 20px;
}

h2 span {
  z-index: 1;
  text-transform: uppercase;
  color: whitesmoke;
  margin: 120px;
  font-size: 60px;
  position: relative;
  font-family: "Henry", sans-serif;
  left: -30px;
}

/* this is whitesmoke narrow text between title and button */
.slider-desc div p {
  color: whitesmoke;
  width: 800px;
  margin: 0 auto;
}

/* SLIDER BUTTON */
.slide .front-slider .slider-image .slider-content .slider-link {
  text-align: center;
}

.slide .front-slider .slider-image .slider-content .slider-link div {
  background: transparent !important;
  border: 2px solid var(--yellow);
  text-align: center;
  padding: 10px 60px;
}

/* MAIN CONTENT */
.node__content div {
  margin-top: 80px;
  text-align: center;
}

/* PROGRAMI */
#after_content div div {
  text-align: center;
}
#after_content div div h2 {
  display: inline-block;
}
#after_content div div h2:before {
  bottom: -15px;
  left: 123px;
  position: relative;
}

.view-programi .view-content {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 20px;
  justify-content: space-between;
  margin: -70px 150px 40px;
}

.view-content .views-row {
  border: 2px solid var(--yellow);
  color: black;
}

.view-content .views-row:hover {
  border: 2px solid black;
  background: black;
}

.view-content .views-row:hover .program-link {
  color: whitesmoke;
}

.program-thumb {
  margin: 10px;
  text-align: center;
}

.program-title span {
  font-family: "Henrik";
  font-size: 26px;
}

.program-link {
  color: black;
  text-decoration: none;
}

.program-description div {
  margin: 0;
  text-align: center;
  font-size: 20px;
}
