/* POČETNA */

/* slider */
#hero-section {
  background: black; /* where the image should be just for visibility sake */
}

/* .slider-link div div a {
    text-transform: uppercase;
    text-decoration: none;
} */

/* DEVELOPMENTAL */
.slide--1 {
  display: none;
}

.slide
  .front-slider
  .slider-image
  .slider-content
  .slider-link
  div
  .field__item {
  border: none;
}

#slick-views-front-slider-block-1-1-slider {
  padding-top: 1px;
  margin-top: -1px;
  height: calc(100vh - 75px);
}

h2 span:before {
  content: url("../img/page-title-bcg-med1.png");
  position: absolute;
  left: -39px;
  z-index: -1;
  bottom: -26px;
}

@media only screen and (max-width: 768px) {
  h2 span:before {
    content: url("../img/page-title-bcg.png");
    bottom: -15px;
    left: -25px;
  }
}

h2 {
  text-align: center;
  margin: 32vh auto 20px;
}

h2 span {
  z-index: 1;
  text-transform: uppercase;
  color: whitesmoke;
  margin: 120px;
  font-size: 76px;
  left: 20px;
  position: relative;
  font-family: "Brandon Grotesque Bold", sans-serif;
}
@media only screen and (max-width: 768px) {
   h2 span {
    margin: 0;
    font-size: 45px;
  }
  
}

/* this is whitesmoke narrow text between title and button */
.slider-desc div p {
  color: whitesmoke;
  width: 700px;
  margin: 25px auto;
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .slider-desc div p {
    width: 90vw;
    margin-bottom: 10px !important;
  }
}

/* SLIDER BUTTON */
.slide .front-slider .slider-image .slider-content .slider-link {
  text-align: center;
}

.slide .front-slider .slider-image .slider-content .slider-link div {
  background: transparent !important;
  border: 3px solid var(--yellow);
  text-align: center;
  padding: 10px 53px;
}

@media only screen and (max-width: 768px) {
  .slide .front-slider .slider-image .slider-content .slider-link div {
    padding: 10px 20px;
  }
}

/* MAIN CONTENT */
.path-frontpage .node__content div {
  margin-top: 80px;
  text-align: center;
}

.path-frontpage .field--name-body p {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .path-frontpage .field--name-body p {
    margin: 0 20px;
    font-size: 18px;
  }
}

/* PROGRAMI */
#after_content div div {
  text-align: center;
}
#after_content div div h2 {
  display: inline-block;
}
#after_content div div h2:before {
  bottom: -15px;
  left: 123px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .path-frontpage #after_content div div h2 {
    margin: 0;
    font-size: 45px;
  }
  
}

.path-frontpage .view-programi .view-content {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  /* grid-template-columns: repeat(4, minmax(1fr, 230px)); */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: -70px 170px 40px;
  /* height: 230px; */
}

.path-frontpage .view-content .views-row {
  border: 3px solid var(--yellow);
  color: black;
  width: 300px;
  height: 300px;
}

.view-content .views-row:hover {
  border: 2px solid black;
  background: black;
}

.view-content .views-row:hover .program-link {
  color: whitesmoke;
}

.path-frontpage .program-thumb {
  margin: 10px;
  text-align: center;
}

.path-frontpage .program-title span {
  font-family: "Henry";
  font-size: 36px;
  text-transform: uppercase;
}

.path-frontpage .program-link {
  color: black;
  text-decoration: none;
}

.path-frontpage .program-description div {
  margin: 0;
  text-align: center;
  font-size: 29px;
  font-family: "Brandon Grotesque Medium", sans-serif;
}

.path-frontpage .program-description div:before,
.path-programi .program-description div:before {
  content: " ";
  display: block;
  border-bottom: 3px solid var(--yellow);
  width: 70px;
  margin: 20px auto;
}

.path-frontpage .slick__arrow {
  text-align: center;
  padding-bottom: 10px;
}

.slick-prev,
.slick-next {
  content: " " !important;
  background: var(--yellow);
  visibility: hidden;
}

.slick-prev:before,
.slick-next:before {
  content: " ";
  background: var(--yellow);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 10;
  visibility: visible;
  display: inline-block;
}
