:root {
  --yellow: #f6b018;
  --gray: #919191;
  --black: #231f20;
}

* {
  box-sizing: border-box;
  font-variant-ligatures: none;
}

@font-face {
  font-family: "Brandon Grotesque Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Medium"),
    url("brandon-grotesque-medium-587bd623e472a.woff") format("woff");
}

@font-face {
  font-family: "Brandon Grotesque Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Bold"),
    url("brandon-grotesque-bold-587bd6400afd0.woff") format("woff");
}

@font-face {
  font-family: "Henry";
  font-style: normal;
  font-weight: normal;
  src: local("Henry"), url("Henrik-Regular.otf") format("woff");
}

/* NAVIGATION */
header div,
#block-barbell-branding,
#block-barbell-branding a img,
#block-barbell-branding div,
header div nav,
header div nav h2,
header div nav div,
header div nav ul,
header div nav ul li,
.language-switcher-language-url,
.language-switcher-language-url div,
header div div div,
ul.links,
li.en,
li.sr {
  display: inline;
}

header div {
  display: grid;
  grid-template-columns: 30% auto 10%;
  height: 60px;
  background: var(--yellow);
  width: 100%;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html,
body,
.layout-container {
  width: 100vw;
  overflow-x: hidden;
}

.layout-container {
  position: relative;
}

.path-frontpage .text-formatted p a {
  text-decoration: none;
  color: #e52828;
}

@font-face {
  font-family: "Brandon Grotesque Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Medium"),
    url("brandon-grotesque-medium-587bd623e472a.woff") format("woff");
}

@font-face {
  font-family: "Brandon Grotesque Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Bold"), url("Brandon_blk.otf") format("woff");
}

@font-face {
  font-family: "Henry";
  font-style: normal;
  font-weight: normal;
  src: local("Henry"), url("Brandon_blk.otf") format("woff");
}

/* NAVIGATION */
header div,
#block-barbell-branding,
#block-barbell-branding a img,
#block-barbell-branding div,
header div nav,
header div nav h2,
header div nav div,
header div nav ul,
header div nav ul li,
.language-switcher-language-url,
.language-switcher-language-url div,
header div div div,
ul.links,
li.en,
li.sr {
  display: inline;
}

header div {
  display: grid;
  grid-template-columns: 33% auto 7%;
  height: 75px;
  background: var(--yellow);
  width: 100vw;
  align-items: center;
}

/* NAV LOGO */
#block-barbell-branding {
  clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
  width: 100%;
  background: black;
  height: 100%;
  text-align: right;
  padding-right: 20px;
  vertical-align: middle;
}

#block-barbell-branding a img {
  display: inline-block;
  margin-right: 80px;
  clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
  width: 100%;
  background: black;
  height: 100%;
  text-align: right;
  padding-right: 20px;
  vertical-align: middle;
  /* background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: right; */
}

#block-barbell-branding a img {
  display: inline-block;
  margin-right: 0px;
  width: 370px;
  padding: 0px 0;
}

/* NAV MAIN */
#block-barbell-main-menu ul li {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

#block-barbell-main-menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Brandon Grotesque Medium";
  text-transform: uppercase;
  margin-right: 20px;
}

#block-barbell-main-menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Brandon Grotesque Medium";
  font-size: 17px;
}

/* Language switcher */
header div div .links {
  align-items: center;
}

#block-languageswitcher ul {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
}
.language-link {
  font-family: "Brandon Grotesque Bold";
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  display: inline-grid;
}

.page-title:before {
  content: url("../img/page-title-bcg.png");
  position: relative;
  left: 100px;
  z-index: -1;
  bottom: -12px;
}

.path-node .page-title::before {
  content: none;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  margin: 120px;
  font-size: 60px;
  position: relative;
  font-family: "Henry";
}

.language-switcher-language-url {
  display: flex;
  align-items: center;
  width: 0;
  right: -20px;
}
#block-languageswitcher ul {
  right: 60px;
}

#block-languageswitcher ul {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
}

#block-languageswitcher ul li {
  margin: 0 7px;
  font-size: 18px;
}

.en:after {
  content: "\\";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  left: 89px;
  top: 1px;
}

.language-link {
  font-family: "Brandon Grotesque Bold", sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  display: inline-grid;
}

/* PAGE TITLE */
.page-title,
.kontakt-block-content h3,
#after_content div div h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 145px auto;
  font-size: 60px;
  font-family: "Henry", sans-serif;
  letter-spacing: 0px;
}

@media only screen and (max-width: 768px) {
  .page-title,
  .kontakt-block-content h3,
  #after_content div div h2 {
    /* margin: 0; */
    font-size: 36px;
  }
}

.field--name-title,
.kontakt-block-content h3 {
  position: relative;
}

/* YELLOW STRIPES */
.page-title .field--name-title:before,
.kontakt-block-content h3:before,
#after_content div div h2:before {
  content: url(../img/page-title-bcg-big.png);
  position: absolute;
  z-index: -1;
}

.page-title .field--name-title:before {
  left: -37px;
  top: 1px;
}

@media only screen and (max-width: 992px) {
  .page-title .field--name-title:before,
  .kontakt-block-content h3:before,
  #after_content div div h2:before {
    content: url("../img/page-title-bcg-med.png");
    top: 1px;
    left: -25px;
  }
}

@media only screen and (max-width: 768px) {
  .page-title .field--name-title:before,
  .kontakt-block-content h3:before,
  #after_content div div h2:before {
    content: url("../img/page-title-bcg.png");
  }
}

.kontakt-block-content h3 {
  display: inline-block;
}

.kontakt-block-content h3:before {
  left: -25px;
  bottom: -24px;
}

@media only screen and (max-width: 768px) {
  .page-title .field--name-title:before,
  .kontakt-block-content h3:before {
    left: -11px;
    top: -2px;
  }
}

@media only screen and (max-width: 551px) {
  .page-title,
  .kontakt-block-content h3,
  #after_content div div h2 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 26px;
    letter-spacing: 0;
  }

  .page-title .field--name-title:before,
  .kontakt-block-content h3:before,
  #after_content div div h2:before {
    content: url("../img/page-title-bcg-sm.png");
  }
}

/* MAIN TXT (all, except home page) */
.path-frontpage .field--name-body p {
  margin: 0 11%;
  text-align: justify;
}

.path-frontpage .slider-content p {
  margin: 0 auto;
}

.field--name-body p {
  font-family: "Brandon Grotesque Medium";
  font-size: 29px;
}

@media only screen and (max-width: 992px) {
  .field--name-body p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .field--name-body p {
    font-size: 22px;
  }
}

/* bold prices txt */
.page-node-type-program .field--name-body p strong {
  font-family: "Brandon Grotesque Bold";
  font-size: 30px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 2em 0;
}

@media only screen and (min-width: 576px) {
  .page-node-type-program .field--name-body p strong {
    font-family: "Brandon Grotesque Bold";
    font-size: 20px;
    /* font-weight: 1; */
  }
}

@media only screen and (min-width: 768px) {
  .page-node-type-program .field--name-body p strong {
    font-size: 25px;
    /* font-weight: 1; */
  }
}

@media only screen and (min-width: 1200px) {
  .page-node-type-program .field--name-body p strong {
    font-size: 40px;
    /* font-weight: 1; */
  }
}

@media only screen and (max-width: 576px) {
  .page-node-type-program .field--name-body p strong {
    font-size: 19px;

    font-family: "Brandon Grotesque Medium";
    /*font-weight: 1;*/
  }
}

/* BUTTON (all, except home page)*/
/*.node__content,*/
#block-zakazitetrening div {
  display: grid;
  position: relative;
}

.field--name-field-link-button,
#block-zakazitetrening div p {
  /* background: var(--yellow); */
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 27px;
  width: 100%;
}

.field--name-field-link-button div.field__item {
  background: var(--yellow);
  border-radius: 45px;
  margin: 3em auto 5em;
  padding: 1em;
  max-width: 500px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .field--name-field-link-button,
  #block-zakazitetrening div p {
    font-size: 20px;
  }
}

.path-frontpage .field--name-field-link-button,
#block-zakazitetrening div p {
  margin: 0 auto 90px;
}

#block-zakazitetrening div p {
  margin-top: 70px auto 70px;
}

.field--name-field-link-button a,
#block-zakazitetrening div p a {
  color: white;
  text-decoration: none;
  font-family: "Brandon Grotesque Medium";
}

/* FOOTER EXTRA SPACE SOLUTION */
#block-mainnavigation-menu {
  display: none !important;
}

/* BACK TO TOP BUTTON */
.scroll-top-button {
  background: white;
  display: none;
  position: fixed;
  bottom: 90px;
  right: 20px;
  box-shadow: 0 0 2px grey;
  z-index: 9999;
}

.scroll-top-button p {
  text-align: center;
  margin: 0;
}

.scroll-top-button p:nth-child(1) {
  font-size: 30px;
  padding: 0 15px;
}

.scroll-top-button p:nth-child(2) {
  font-size: 16px;
  padding: 0 0;
}

.fa-angle-up {
  color: black !important;
}

@media only screen and (max-width: 768px) {
  .scroll-top-button {
    bottom: 5px;
    right: 10px;
  }

  .scroll-top-button p:nth-child(1) {
    font-size: 20px;
    padding: 0 15px;
  }

  .scroll-top-button p:nth-child(2) {
    font-size: 10px;
    padding: 0 0;
  }
}

/* FOOTER */
footer {
  height: 100px;
  width: 100%;
  bottom: 0;
}

.region-footer {
  /* black bar wrapper */
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% auto 20%;
  background: black;
  align-content: center;
}

@media only screen and (max-width: 768px) {
  .region-footer {
    height: unset;
  }
}

#block-yearname div p {
  color: var(--yellow);
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  margin: 0 11%;
}

@media only screen and (max-width: 992px) {
  #block-yearname {
    align-self: center;
    display: grid;
  }
}

#block-yearname div {
  width: 100%;
  margin: 0;
  margin-top: 3px;
}

footer div nav {
  display: inline;
  color: white;
  align-self: center;
}

footer div nav ul li a {
  color: dimgray;
  text-decoration: none;
  font-family: "Brandon Grotesque Medium";
  text-transform: uppercase;
  font-size: 13px;
}

footer div nav ul.menu a.is-active {
  color: dimgray;
}

#block-sociallinks {
  display: flex;
  align-items: center;
}

#block-sociallinks a {
  margin: 0 12px;
}

/* +++++++++++ KONTAKT +++++++++++ */

#pre_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#pre_footer .pre_footer_right,
.pre_footer_right div {
  height: 100%;
}

.front-kontakt-holder {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 992px) {
  #pre_footer {
    grid-template-columns: 1fr;
    height: unset;
  }

  #pre_footer .pre_footer_right,
  .pre_footer_right div {
    height: 200px;
  }
}

.kontakt-block-content {
  font-family: "Brandon Grotesque Bold", sans-serif;
  color: whitesmoke;
  text-align: center;
  /*background: gray;*/
}

.kontakt-block-content h3 {
  font-family: "Henry", sans-serif;
  margin: 220px 0 80px;
  z-index: 1;
}

.kontakt-block-content .tel {
  margin-bottom: 35px;
}

.kontakt-block-content .tel a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 43px;
}

@media only screen and (max-width: 768px) {
  .kontakt-block-content .tel a {
    font-size: 30px;
  }
}

.kontakt-block-content .address {
  font-size: 33px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .kontakt-block-content .address {
    font-size: 24px;
  }
}

.kontakt-block-content .email {
  margin-bottom: 80px;
}

.kontakt-block-content .email a {
  color: var(--yellow);
  text-decoration: none;
  font-size: 32px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
  .kontakt-block-content .email a {
    font-size: 28px;
  }
}

.socials {
  padding-bottom: 60px;
}

.socials a {
  font-size: 42px;
  color: whitesmoke;
  padding-bottom: 60px;
  margin: 0 10px;
}

/* .kontakt-block-content .socials span {
  margin: 0 5px 60px;
} */

/* CONTACT - MAP, SOME TITLES */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .page-title,
  .kontakt-block-content h3,
  #after_content div div h2 {
    /* margin: 0; */
    font-size: 49px;
  }

  .kontakt-block-content .tel a {
    font-size: 38px;
  }

  .kontakt-block-content .address {
    font-size: 28px;
  }

  /* vesti naslov */
  .path-vesti .page-title:before,
  .path-tim .page-title:before,
  .path-programi .page-title:before {
    content: url(../img/page-title-bcg.png) !important;
    top: 4px !important;
    left: -26px !important;
  }

  /* blog naslov */
  .path-blog .page-title:before,
  .path-tim .page-title:before,
  .path-programi .page-title:before {
    content: url(../img/page-title-bcg.png) !important;
    top: 5px !important;
    left: -21px !important;
  }

  /* tim naslov */
  /* .path-tim .page-title:before {
    content: url(../img/page-title-bcg.png) !important;
    bottom: -10px !important;
    left: -21px !important;
  } */
}

@media only screen and (max-width: 768px) {
  /* vesti naslov */
  .path-vesti .page-title:before,
  .path-programi .page-title:before {
    content: url(../img/page-title-bcg.png) !important;
    top: 0px !important;
    left: -26px !important;
  }

  /* programi naslov */
  .path-programi .page-title:before {
    content: url(../img/page-title-bcg-sm.png) !important;
    top: -1px !important;
    left: -18px !important;
  }

  /* tim naslov */
  .path-tim .page-title:before {
    content: url(../img/page-title-bcg-sm.png) !important;
    bottom: -14px !important;
    left: -28px !important;
  }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
  /* programi naslov */
  .path-programi .page-title:before {
    content: url(../img/page-title-bcg.png) !important;
    top: -1px !important;
    left: -18px !important;
  }
}

.page-title {
  margin-left: 15px;
  margin-right: 15px;
}
