/* NAVIGATION */
:root {
  --yellow: #f6b018;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Brandon Grotesque Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Medium"),
    url("brandon-grotesque-medium-587bd623e472a.woff") format("woff");
}

@font-face {
  font-family: "Brandon Grotesque Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Bold"),
    url("brandon-grotesque-bold-587bd6400afd0.woff") format("woff");
}

@font-face {
  font-family: "Henry";
  font-style: normal;
  font-weight: normal;
  src: local("Henry"), url("Henrik-Regular.otf") format("woff");
}

/* NAVIGATION */
header div,
#block-barbell-branding,
#block-barbell-branding a img,
#block-barbell-branding div,
header div nav,
header div nav h2,
header div nav div,
header div nav ul,
header div nav ul li,
.language-switcher-language-url,
.language-switcher-language-url div,
header div div div,
ul.links,
li.en,
li.sr {
  display: inline;
}

header div {
  display: grid;
  grid-template-columns: 300px auto 10%;
  height: 60px;
  background: var(--yellow);
  width: 100%;
  align-items: center;
}

/* NAV LOGO */
#block-barbell-branding {
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  width: 100%;
  background: black;
  height: 60px;
  text-align: right;
  padding-right: 20px;
  vertical-align: middle;
  /* background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: right; */
}

#block-barbell-branding a img {
  display: inline-block;
  margin-right: 80px;
}

/* NAV MAIN */
#block-barbell-main-menu ul li {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

#block-barbell-main-menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Brandon Grotesque Medium";
}

/* Language switcher */
header div div .links {
  align-items: center;
}

.language-switcher-language-url {
  display: flex;
  align-items: center;
}

#block-languageswitcher ul {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
}

#block-languageswitcher ul li {
  margin: 0 7px;
  font-size: 18px;
}

.en:after {
  content: "\\";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  left: 89px;
  top: 1px;
}

.language-link {
  font-family: "Brandon Grotesque Bold";
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  display: inline-grid;
}

/* PAGE TITLE */
.page-title {
  text-align: center;
  text-transform: uppercase;
  margin: 120px;
  font-size: 76px;
  font-family: "Henry", sans-serif;
  letter-spacing: 2px;
}

.field--name-title {
  position: relative;
}

/* YELLOW STRIPES */
.page-title .field--name-title:before {
  content: url("../img/page-title-bcg-med1.png");
  position: absolute;
  left: -25px;
  z-index: -1;
  bottom: -29px;
}

/* MAIN TXT (all, except home page) */
.field--name-body p {
  margin: 0 13%;
  font-family: "Brandon Grotesque Medium";
  font-size: 28px;
  text-align: justify;
}

/* bold prices txt */
.field--name-body p strong {
  font-family: "Brandon Grotesque Bold";
  font-size: 30px;
}

/* BUTTON (all, except home page)*/
.node__content,
#block-zakazitetrening div {
  display: grid;
}

.field--name-field-link-button,
#block-zakazitetrening div p {
  background: var(--yellow);
  color: white;
  display: inline-block;
  text-transform: uppercase;
  padding: 25px 50px;
  font-size: 27px;
  margin: auto;
  margin-top: 70px;
  align-content: center;
  border-radius: 45px;
}

.field--name-field-link-button a,
#block-zakazitetrening div p a {
  color: white;
  text-decoration: none;
  font-family: "Brandon Grotesque Medium";
}

/* FOOTER */
.region-footer {
  /* black bar wrapper */
  display: grid;
  width: 100%;
  grid-template-columns: 30% auto 20%;
  margin-top: 50px;
  height: 120px;
  background: black;
  align-content: center;
}

#block-yearname {
  color: var(--yellow);
}

#block-yearname div {
  width: 100%;
  margin: 0;
  margin-left: 130px;
}

footer div nav {
  display: inline;
  color: white;
  align-self: center;
}

footer div nav ul li a {
  color: gray;
  text-decoration: none;
  font-family: "Brandon Grotesque Medium";
  text-transform: uppercase;
  font-size: 13px;
}

#block-sociallinks {
  display: flex;
  align-items: center;
}

/**/
blockquote p {
  text-transform: uppercase;
  font-family: "Henry";
  text-align: center;
  font-size: 60px;
}

/* ******************************************** */
/* ******************************************** */

/* BLOCKQUOTE */
blockquote p {
  text-transform: uppercase;
  font-family: "Henry";
  text-align: center;
  font-size: 60px;
}

/* +++++++++++ KONTAKT +++++++++++ */

.front-kontakt-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
