.path-tim div div main div div #block-barbell-content div .view-tim .view-content {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: none;
    margin: 0 auto;
}

.view-tim .view-content div div a {

}

.view-tim .view-content div div a .tim-image div img {
    width: 100%;
}