/* .path-tim
  div
  div
  main
  div
  div
  #block-barbell-content
  div */
.view-tim .view-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 55px;
  width: 70vw;
  margin: 0 auto;
}

.view-tim {
  margin-bottom: 130px;
}

/* HR style */
.box-division {
  color: var(--yellow);
  border: 2px solid;
  width: 70px;
  margin: 20px auto;
}

.view-tim .view-content div div a:hover div {
  color: whitesmoke;
  background: var(--black);
}

.view-tim .view-content div div a .tim-image div img {
  width: 100%;
  height: auto;
}

.tim-thumb {
  text-align: center;
  font-family: "Brandon Grotesque Medium";
}

.tim-link {
  color: black;
  text-decoration: none;
}

.tim-title {
  font-family: "Henry", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 30px;
}

.tim-description {
  font-size: 28px;
  margin-bottom: 50px;
}

.path-tim #block-barbell-page-title {
  margin: 150px auto 120px;
}

.tim-description::before {
  content: " ";
  display: block;
  border-bottom: 3px solid var(--yellow);
  width: 70px;
  margin: 20px auto;
}

.tim-description div {
  padding: 10px;
}

/* uklanjanje bordera sa slike */
.path-tim
  div
  div
  main
  .layout-content
  div
  div
  div
  .view-tim
  .view-content
  .views-row {
  border: none;
}

.tim-info-wrapper {
  border: 3px solid var(--yellow);
}

.tim-image {
  margin: 0 0 -6px 0;
}


@media only screen and  (min-width: 1325px) {
  .tim-description {
    height: 95px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1325px) {
  .view-tim .view-content {
    width: 80vw;
  }

  .tim-title {
    font-size: 35px;
  }

  .tim-description {
    height: 95px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .view-tim .view-content {
    width: 90vw;
    grid-gap: 30px;
  }

  .tim-title {
    font-size: 30px;
  }

  .tim-description {
    height: 95px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .view-tim .view-content {
    width: 90vw;
    grid-gap: 30px;
  }

  .tim-title {
    font-size: 22px;
  }

  .tim-description {
    font-size: 22px;
    margin-bottom: 20px;
    height: 130px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
  .view-tim .view-content {
    width: 90vw;
    grid-gap: 30px;
  }

  .tim-title {
    font-size: 18px;
  }

  .tim-description {
    font-size: 20px;
    margin-bottom: 15px;
    height: 130px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .view-tim .view-content {
    width: 98vw;
    grid-gap: 5px;
  }

  .tim-title {
    font-size: 14px;
  }

  .tim-description {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .tim-info-wrapper {
    line-height: 18px;
    height: 150px;
  }

  .tim-description::before {
    margin: 10px auto;
  }
}
